body {
    background-color: #d4ffd8;
    color: rgba(0, 0, 0, 1);
}

div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto auto auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    padding: 10px;
}

p{
    color: #606060;
    text-align: justify;
    text-indent: 50px;
}

/* Formatação do Menu */

img#logo {
    padding-left: 20px;
    margin-top: -55px;
    margin-block: 20px;
}

nav#menu ul {
    display: block;
}

nav#menu ul {
    list-style:  none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 470px;
}

nav#menu li {
    display: inline-block;
    padding: 10px;
    margin: -1px;
    transition: background-color 1s;
}

nav#menu h1 {
    display: none;
}

nav#menu a:hover {
    color: #c0a941;
    text-decoration: underline;
}

/* Formatação do Cabeçalho */

header#cabecalho {
    background-color: #EAEAEA;
    border-bottom: 1px #606060 solid;
    height: 90px;

}

header#cabecalho-artigo h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #c0a941;
    margin-bottom: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #67e071;
    background-color: #ffffff;
    margin: 10px;
}

/* Formatação Notícia */
/* Formatação Cabeçalho Artigo */

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #c0a941;
    margin-bottom: 0px;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #c0a941;
    background-color: #EAEAEA;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #67e071;
    background-color: #ffffff;
    margin: 10px;
}

header#cabecalho-artigo h4 {
    font-size: 13pt;
    color: #c0a941;
    background-color: #ffffff;
    text-align: center;
}

header#cabecalho-artigo h5 {
    font-size: 11pt;
    color: #59c462;
    background-color: #ffffff;
}

header#cabecalho-artigo ul{
    color: #59c462;
}

header#cabecalho-artigo p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #2c2c2c;
    background-color: #ffffff;
    text-align: justify;
}